contractExtractor/reentrancyExtractor/*.txt
contractSpider/contractCodeGetter/data/*.json
contractSpider/contractCodeGetter/sourceCode/*.sol
contractExtractor/reentrancyExtractor/result/*.sol
contractExtractor/reentrancyExtractor/result/*.ast
contractExtractor/reentrancyExtractor/*.dot
contractExtractor/reentrancyExtractor/pathInfo/*.json
contractExtractor/securityAbandonerAndInjector/reentrancy/dataset/*.sol
contractExtractor/securityAbandonerAndInjector/reentrancy/dataset/*.txt
contractSpider/contractCodeGetter/sourceCode/*.sol
contractSpider/contractCodeGetter/data/*.json
contractExtractor/securityAbandonerAndInjector/integerOverflow/dataset/*.sol
contractExtractor/securityAbandonerAndInjector/integerOverflow/dataset/*.txt
contractExtractor/securityAbandonerAndInjector/integerOverflow/manualCheck/*.solcontractExtractor/securityAbandonerAndInjector/integerOverflow/manualCheck/*.txt*.sol
*.ast
sourceCodeDate.zip
